<!DOCTYPE html>
<html>
  <head>
    <title>Discordance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <% if @current_user.present? %>
        <%= link_to "My Account", user_path(session[:user_id]) %>
        <%= link_to "Log out #{@current_user.email}", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Sign In", login_path %>
      <% end %>
      <%= button_to "Sign Up", new_user_path %>
    </nav>
    <div class="dropdown">
      <%= link_to "All Episodes", episodes_path %>
      <%= link_to "All Speakers", speakers_path %>
      <% if @current_user.present? && @current_user.admin? %>
        <%= link_to "New Episode", new_episode_path %>
        <%= link_to "New Speaker", new_speaker_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
